<% if @game.guesses.count > 0 %>
  <table>
    <% @game.guesses.reverse_each do |guess| %>
      <% if guess.first_color != nil %>
        <tr>
          <td> <%= image_tag ColorScheme.color_image_name_from_color_id(guess.first_color), alt: ColorScheme.color_image_name_from_color_id(guess.first_color) %> </td>
          <td> <%= image_tag ColorScheme.color_image_name_from_color_id(guess.second_color), alt: ColorScheme.color_image_name_from_color_id(guess.second_color) %> </td>
          <td> <%= image_tag ColorScheme.color_image_name_from_color_id(guess.third_color), alt: ColorScheme.color_image_name_from_color_id(guess.third_color) %> </td>
          <td> <%= image_tag ColorScheme.color_image_name_from_color_id(guess.fourth_color), alt: ColorScheme.color_image_name_from_color_id(guess.fourth_color) %> </td>
          <td>
            <p>
              <%= pluralize_sentence(guess.correct_digits_count, "color_count") %>
              <br>
              <%= pluralize_sentence(guess.correct_at_wrong_postion_digit_count, "color_count_wrong_postion") %>
            </p> 
          </td>   
        </tr>
      <% end %>
    <% end %>
  </table>
<% end %>